* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #e5e8ed;
  --text-color: #3d5a80;
  --accent: #81a3d1;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Inter;
}

.section {
  height: 100dvh;
}
